footer{
    padding: 0%;
}

ul{
    list-style:none;
    padding: 0;
}

.logofooter { mix-blend-mode: multiply;
}

.div-footer-f {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
}

.div-footer-a ,
.div-footer-b{
    flex: 1 1 300px; 
    padding: 10px;
    margin: 10px;     
}

