
/*Contacto*/
.p-contacto-a{
    text-align: center;
    color: #2E86C1;
  }

.div-contacto{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.img-contacto{
    width:100%;
     object-fit: cover;
    display: block;
}