
.caja-index { 
    display: flex;      
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    
}

.caja-index-a {
    
    width: 50%;
    margin: 10px;
    padding: 10px;
  
}

.caja-index-b { 
    width: 50%;
    margin: 10px;
    padding: 10px;
    
}

.caja-index-b video {
            width: 100%;
}
 