/*Quienes?*/
.mision {
    text-align: center;
}

.brujula-img {
    width:100%;
    height: 450px;
    object-fit: cover;
    display: block;
}

.div-quienes-b img{
    width:100%;
    height: 450px;
    object-fit: cover;
    display: block;
}
